
@{
    ViewBag.Title = "Display";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/MainStyle.css">
    <title>Index</title>

</head>

<body>
    <p>
        <h4>
            XYZ Shopping cart, often referred to as simply XYZ, is an American electronic commerce
            and cloud computing company with headquarters in Seattle, Washington.
            It is the largest Internet-based retailer in the United States.
            XYZ started as an online bookstore, later diversifying to sell DVDs, Blu-rays, CDs, video downloads/streaming,
            MP3 downloads/streaming, audiobook downloads/streaming, software, video games, electronics, apparel,
            furniture, food, toys and jewelry.
        </h4>
    </p>

</body>

</html>
